body{ /*estilização geral*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    margin: 0;
    color: #ddd;
}

*{
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #020202;
    text-align: center;
}

.navbar{/*usa o sticky para deixar a navbar no topo e esse justify que ajuda a deixar o sumario mais ao meio e o butao no fim*/
    position: sticky;
    top: 0;
    background-color: #4D4D4D;
    display: flex;
    justify-content: center;
}

.navbar ul{/*lista para o sumário*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li{/*deixa a lista da esquerda para direita*/
    float: left;
}

.navbar a{/*estiliza os links do sumário*/
    display: block;
    color: #ddd;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}   

.navbar a:hover{
    background-color: #888888;
    color: #333;
}

.links{ /*deixa o sumário mais para o meio*/
    margin: 10px auto;
}

.modeSwitch{ /*deixa o botão no final*/
    flex-direction: row-reverse;
    padding: 15px;
}

.navbar button {
    background-color: #020202;
    color: #ddd;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.navbar button:hover {
    background-color: #888888;
    color: #020202;
    border-color: #ddd;
}

.main{ /*deixa o conteudo principal (sobre e o texto maior) linha ao inves do coluna do resto */
    display: flex;
    flex-direction: row;
}

.about{
    background-color: #1A1A1A;
    padding: 20px;
    flex: 30%; /*vai ocupar 30% da tela*/
}

.content{
    background-color: #323232;
    padding: 20px;
    flex: 70%;
}

.big-img{
    background-color: #aaa;
    padding: 15px;
    height: 200px;
    border-radius: 10px;
    
}

.big-img-content{
    background-color: #aaa;
    padding: 15px;
    height: 400px;
    border-radius: 10px;
    
}

.small-img{
    background-color: #aaa;
    padding: 15px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
}

.footer{
    background-color: #4D4D4D;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 800px) { /* deixa o conteudo da main no estilo coluna para facilitar leitura*/
    .navbar li{
        flex-direction: column;
    }
    .main{
        flex-direction: column;
    }
}   