body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    margin: 0;
    color: #ddd;
}

*{
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #948979;
    text-align: center;
    color: #ddd;
}

.navbar{
    position: sticky;
    top: 0;
    background-color: #948979;
    display: flex;
    justify-content: center;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li{
    float: left;
}

.navbar a{
    display: block;
    color: #ddd;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}   

.navbar a:hover{
    background-color: #DFD0B8;
    color: #333;
}

.main{
    display: flex;
    flex-direction: row;
}

.about{
    background-color: #222831;
    padding: 20px;
    flex: 30%;
}

.content{
    background-color: #393E46;
    padding: 20px;
    flex: 70%;
}

.big-img{
    background-color: #aaa;
    padding: 15px;
    height: 200px;
    border-radius: 10px;
    
}

.big-img-content{
    background-color: #aaa;
    padding: 15px;
    height: 400px;
    border-radius: 10px;
    
}

.small-img{
    background-color: #aaa;
    padding: 15px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
}

.footer{
    background-color: #222831;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 800px) { /* menor que a 400 */
    .navbar li{
        flex-direction: column;
    }
    .main{
        flex-direction: column;
    }
}   